Options -Indexes -MultiViews

DirectoryIndex app.php

RewriteEngine On
RewriteRule ^(?:cache|app-data|gh)(?:/|$) - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ app.php [L,QSA]
