<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="generator/tests/bootstrap.php"
         cacheDirectory="build/phpunit-cache"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Status Lights">
            <directory>generator/tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>generator/index.php</file>
            <file>generator/app.php</file>
        </include>
    </source>
</phpunit>
